---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="mb-[20vh] flex w-full flex-col items-start space-y-4">
    <p class="mb-4 text-3xl font-semibold">Experience</p>
    <h2 class="mb-2 text-xl">Streamplace</h2>
    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
      June 2025 - present
    </p>
    <div class="space-y-2 text-sm leading-relaxed">
      <p>
        Helping build live video for the AT Protocol — aiming to solve video,
        once and for all, for everyone.
      </p>
      <p>
        Rebuilt and reworked core surfaces like the homepage, the primary video
        player, and the live chat experience. Played an integral part in moving
        those services to the open-source component library so we can dogfood
        more effectively.
      </p>
      <p>
        Built the first version of the Streamplace Docs, using Astro Starlight
        to make documentation easier to understand and maintain.
      </p>
    </div>
  </main>
</Layout>
