---
import Ambilight from "../components/ambilight.astro";
import BackgroundClock from "../components/BackgroundClock.tsx";
import { GrainOverlay } from "../components/GrainOverlay";
import { LastFM } from "../components/lastfm.tsx";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Ambilight />
  <BackgroundClock client:load />
  <main class="flex w-full flex-col items-start space-y-4">
    <div class="space-y-2 text-start">
      <img
        src="/natb.jpg"
        alt="natalie's profile"
        class="ambilight h-32 w-32 rounded-full border border-neutral-500/50"
      />
      <div>
        <h2 class="text-3xl font-bold">natalie b.</h2>
        <p class="text-xl text-gray-800 dark:text-gray-400">
          software. design. music. - nashville, tn.
        </p>
      </div>
      <div>
        i’m a full-stack developer currently focused on building reliable,
        flexible media solutions that anyone can use.
      </div>
      <div class="prose">
        most recently, i've been working at <a
          class="underline dark:border-sky-300 dark:text-sky-300"
          href="https://stream.place/">streamplace</a
        >, helping make live video easy and open for everyone, forever. before
        that, i built an encoder pipeline and designed parts of a hobby OTT
        streaming systems, so I have a solid understanding of the challenges
        behind the scenes.
      </div>
      <div>
        i’m also the founder of <a
          class="underline dark:border-sky-300 dark:text-sky-300"
          href="https://teal.fm">teal.fm</a
        >, which is a platform for tracking your own music, beautifully. i've
        also created created <a
          href="https://github.com/espeon/muse"
          class="underline dark:border-sky-300 dark:text-sky-300">muse</a
        >, a local music streaming platform close to my heart.
      </div>
      <div>
        i like to keep things practical and clear. i believe technology should
        solve problems, not create more. this means focusing on tools and
        platforms that empower people to do what they want. simply, reliably,
        and quickly.
      </div>
    </div>
    <div class="h-20 w-min border-t border-neutral-500/50 pt-6">
      <LastFM client:load />
    </div>
  </main>
  <GrainOverlay />
</Layout>
