---
import Ambilight from "../components/ambilight.astro";
import BackgroundClock from "../components/BackgroundClock.tsx";
import { GrainOverlay } from "../components/GrainOverlay";
import { IconRow } from "../components/icon-row.tsx";
import { LastFM } from "../components/lastfm.tsx";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Ambilight />
  <BackgroundClock client:load />
  <main class="flex w-full flex-col items-start space-y-4">
    <div class="space-y-2 text-start">
      <img
        src="/natb.jpg"
        alt="natalie's profile"
        class="ambilight h-32 w-32 rounded-full border border-neutral-500/50"
      />
      <div>
        <h2 class="text-3xl font-bold">natalie b.</h2>
        <p class="text-xl text-gray-800 dark:text-gray-400">
          software. design. music. - nashville, tn.
        </p>
      </div>
      <IconRow />
      <div>
        i’m a full-stack developer, interested in the web and audiovisual media.
      </div>
      <div class="prose">
        most recently, i've been working at <a
          class="underline dark:border-sky-300 dark:text-sky-300"
          href="https://stream.place/">streamplace</a
        >, helping make live video easy and open for everyone, forever. before
        that, i built an encoder pipeline and designed parts of a hobby OTT VOD
        service, so I have a reasonable understanding of the challenges behind
        the scenes.
      </div>
      <div>
        i am, along with <a
          class="underline dark:border-sky-300 dark:text-sky-300"
          href="https://mmatt.net">matt</a
        >, are founders of <a
          class="underline dark:border-sky-300 dark:text-sky-300"
          href="https://teal.fm">teal.fm</a
        >, which is a platform for tracking your own music, beautifully. i've
        also created created <a
          href="https://github.com/espeon/muse"
          class="underline dark:border-sky-300 dark:text-sky-300">muse</a
        >, a local music streaming platform close to my heart.
      </div>
      <div>
        i like to keep things practical and clear. technology should solve
        problems, not create more. i focus on tools that empower people simply,
        reliably, and quickly. i care deeply about ownership. ownership of work,
        of tools, and especially of data. you should be able to build and create
        without trading away your rights or privacy. the best systems let you
        keep what’s yours, make everything understandable, and give you the
        freedom to leave whenever you want. no strings attached.
      </div>
    </div>
    <div class="h-26 max-w-full border-t border-neutral-500/50 pt-6">
      <LastFM client:load />
    </div>
    <GrainOverlay />
  </main>
</Layout>
