---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uses" description="Tools and services I use often.">
  <p class="mb-4 text-3xl font-semibold">Uses</p>
  <div class="mt-2 text-base">
    <p>
      I use a variety of tools and services to make my life easier. I'm always
      looking for new ways to improve my workflow, so if you have any
      suggestions or recommendations, please let me know!
    </p>
    <p class="mt-2">
      Anyways, this should be a pretty comprehensive list of the tools I use
      often.
    </p>
  </div>

  <h1 class="mt-4 text-2xl font-semibold">Editor + Terminal</h1>
  <div class="mt-2 h-full text-base">
    <ul class="list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        I use <a
          href="https://zed.dev/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">Zed</a
        > as my main code editor.
      </li>
      <li>
        I use <a
          href="https://github.com/catppuccin/catppuccin"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Catpuccin Mocha</a
        > everywhere I can, including VSCode, Zed, and Spotify!
      </li>
      <li>
        My font of choice is <a
          href="https://github.com/iaolo/iA-Fonts"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >iA Writer Mono</a
        > (or the Nerd Font variant, iMWriting Mono).
      </li>
      <li>
        For my terminal, I mainly use Ghostty on macOS, but on Windows I use the
        new Windows Terminal.
      </li>
      <li>
        On my terminal, I generally use zsh with oh-my-zsh + my Paramour theme.
      </li>
    </ul>

    <h2 class="mt-4 text-2xl font-semibold">Desktop Apps</h2>
    <ul class="mt-2 list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        I use <a
          href="https://zen-browser.app/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">Zen</a
        > for my main browser.
      </li>
      <li>
        I use <a
          href="https://www.figma.com/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">Figma</a
        > or <a
          href="https://www.penpot.app"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">PenPot</a
        > for design.
      </li>
      <li>
        I use <a
          href="https://obsproject.com/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >OBS Studio</a
        > for recording and streaming.
      </li>
      <li>
        And for music, I use <a
          href="https://tidal.com"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">Tidal</a
        >.
      </li>
    </ul>

    <h2 class="mt-4 text-2xl font-semibold">Desk Setup</h2>
    <ul class="mt-2 list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        For my monitors, I use a LG UltraGear 34GP63A-B (1440p, ultrawide, VA
        panel :p) and a UltraGear 27GL83A-B (1440p, IPS :D).
      </li>
      <li>
        I have a little KVM switcher setup for my MacBook Pro and Desktop
        computers, so I can switch my whole setup between them instantly.
      </li>
      <li>
        I use <a
          href="https://www.logitech.com/en-us/products/mice/mice-for-computers/mx-ergo-wireless-mouse.html"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >MX Master 3</a
        > for my work mouse, and a <a
          href="https://www.logitechg.com/en-us/products/gaming-mice/pro-x-superlight-wireless-mouse.html"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Logitech G Pro X Superlight</a
        > for my gaming mouse.
      </li>
      <li>
        I use a <a
          href="https://www.zsa.io/en/products/keyboards/moolander"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >ZSA Moonlander</a
        > for my work keyboard, but I also have a <a
          href="https://drop.com/buy/drop-alt-v2-mechanical-keyboard"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Massdrop ALT</a
        >.
      </li>
      <li>
        For my desk, I have an <a
          href="https://www.ikea.com/us/en/p/bekant-desk-sit-stand-white-s69022537/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >IKEA Bekant</a
        > standing desk base, with the <a
          href="https://www.ikea.com/us/en/p/uppspel-tabletop-black-70511347/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">Uppspel</a
        > top (yes, the Republic of Gamers one) on backwards (I swear it's better).
        I wouldn't recommend either - they're expensive and made with poorer quality
        materials, but I like them enough to not throw them out.
      </li>
    </ul>

    <h2 class="mt-4 text-xl">Computer</h2>
    <ul class="mt-2 list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        My laptop is a <a
          href="https://www.apple.com/macbook-pro-14-and-16/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >MacBook Pro 14&quot; M4 Max (16 core GPU, 36GB ram)</a
        > running MacOS.
      </li>
      <li>
        My desktop currently is a <a
          href="https://www.amd.com/en/products/cpu/amd-ryzen-5-3600x"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Ryzen 5 3600X (8 core)</a
        > + 16GB ram + <a
          href="https://www.nvidia.com/en-us/geforce/graphics-cards/40-series/rtx-4070-family/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >RTX 4070ti Super (16GB)</a
        > with the <a
          href="https://nzxt.com/product/h440"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >NZXT H440 (USB-C)</a
        >, running <a
          href="https://cachyos.org"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">CachyOS</a
        > (more later).
      </li>
      <li>
        My homelab PCs are a pair of <a
          href="https://www.lenovo.com/us/en/p/desktops/thinkcentre/m-series-tiny/11tc1mtm7g2/11jn002qus"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Lenovo ThinkCentre M75Qs</a
        > (Ryzen 5 PRO 4650GE, 32GB ram), plus 2x12TB shucked drives in a JBOD.
      </li>
      <li>
        I dockerize everything I can, homelab-wise. Routing is done with
        docker-compose tags with Traefik.
      </li>
    </ul>

    <h2 class="text-semibold mt-4 text-2xl">Linux</h2>
    <ul class="mt-2 list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        I use <a
          href="https://cachyos.org"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline">CachyOS</a
        > on my desktop, which is a lightweight Linux distribution that is focused
        on performance and security.
      </li>
      <li>
        My daily driver WM currently is Hyprland (looking for other options if
        you have them!) with dotfiles based off <a
          href="https://github.com/JaKooLit/Arch-Hyprland"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >JaKooLit's Arch-Hyprland</a
        > dotfiles.
      </li>
    </ul>

    <h2 class="mt-4 text-2xl">Audio</h2>
    <ul class="mt-2 list-outside list-disc space-y-1 dark:text-gray-200">
      <li>
        My main headphones are the <a
          href="https://drop.com/buy/massdrop-sennheiser-hd6xx"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Massdrop HD6XX</a
        >, powered straight from my <a
          href="https://audient.com/products/audio-interfaces/id14/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Audient iD14 audio interface</a
        >.
      </li>
      <li>
        My speakers are the excellently priced yet unfortunately discontinued <a
          href="https://www.energy-speakers.com/products/reference-connoisseur/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Energy Reference Connoisseur series RC-10</a
        >, powered by my Emotiva TA-100 audio interface, and the sub I use is an
        Emotiva BASx S8 subwoofer.
      </li>
      <li>
        On the go, I use a pair of <a
          href="https://www.apple.com/airpods-pro/"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >AirPods Pro 2</a
        >, but if I want good audio, I switch between a <a
          href="https://shenzhenaudio.com/products/moondrop-x-crinacle-blessing2-dusk-1dd-4ba-in-ear-monitor-earphone"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Moondrop Blessing 2 Dusk</a
        > or my <a
          href="https://www.symphoniumaudio.com/products/meteor"
          target="_blank"
          class="text-wisteria-500 dark:text-wisteria-300 underline"
          >Symphonium Meteors</a
        >.
      </li>
    </ul>
  </div>
</Layout>
